<!DOCTYPE html>
<html>
  <head>
    <title>Help | Socials</title>
  </head>
  <body>
    <h1>Help</h1>
    <p>
      This the help page of Socials. For further updates stay tuned.
    </p>
  </body>
</html>